:is(:root, .theme-light, .theme-dark, .theme-darker, .theme-midnight, .visual-refresh) {
  --brand: rgb(255, 0, 255) !important;
  --brand-100: rgb(255, 0, 255) !important;
  --brand-130: rgb(255, 0, 255) !important;
  --brand-160: rgb(255, 0, 255) !important;
  --brand-200: rgb(255, 0, 255) !important;
  --brand-230: rgb(255, 0, 255) !important;
  --brand-260: rgb(255, 0, 255) !important;
  --brand-300: rgb(255, 0, 255) !important;
  --brand-330: rgb(255, 0, 255) !important;
  --brand-345: rgb(255, 0, 255) !important;
  --brand-360: rgb(255, 0, 255) !important;
  --brand-400: rgb(255, 0, 255) !important;
  --brand-430: rgb(255, 0, 255) !important;
  --brand-460: rgb(255, 0, 255) !important;
  --brand-500: rgb(255, 0, 255) !important;
  --brand-530: rgb(255, 0, 255) !important;
  --brand-560: rgb(255, 0, 255) !important;
  --brand-600: rgb(255, 0, 255) !important;
  --brand-630: rgb(255, 0, 255) !important;
  --brand-660: rgb(255, 0, 255) !important;
  --brand-700: rgb(255, 0, 255) !important;
  --brand-730: rgb(255, 0, 255) !important;
  --brand-760: rgb(255, 0, 255) !important;
  --brand-800: rgb(255, 0, 255) !important;
  --brand-830: rgb(255, 0, 255) !important;
  --brand-860: rgb(255, 0, 255) !important;
  --brand-900: rgb(255, 0, 255) !important;
  --text-link: rgb(255, 0, 255) !important;
  --blurple-1: rgb(255, 0, 255) !important;
  --blurple-2: rgb(255, 0, 255) !important;
  --blurple-3: rgb(255, 0, 255) !important;
  --blurple-4: rgb(255, 0, 255) !important;
  --blurple-5: rgb(255, 0, 255) !important;
  --blurple-6: rgb(255, 0, 255) !important;
  --blurple-7: rgb(255, 0, 255) !important;
  --blurple-8: rgb(255, 0, 255) !important;
  --blurple-9: rgb(255, 0, 255) !important;
  --blurple-10: rgb(255, 0, 255) !important;
  --blurple-11: rgb(255, 0, 255) !important;
  --blurple-12: rgb(255, 0, 255) !important;
  --blurple-13: rgb(255, 0, 255) !important;
  --blurple-14: rgb(255, 0, 255) !important;
  --blurple-15: rgb(255, 0, 255) !important;
  --blurple-16: rgb(255, 0, 255) !important;
  --blurple-17: rgb(255, 0, 255) !important;
  --blurple-18: rgb(255, 0, 255) !important;
  --blurple-19: rgb(255, 0, 255) !important;
  --blurple-20: rgb(255, 0, 255) !important;
  --blurple-21: rgb(255, 0, 255) !important;
  --blurple-22: rgb(255, 0, 255) !important;
  --blurple-23: rgb(255, 0, 255) !important;
  --blurple-24: rgb(255, 0, 255) !important;
  --blurple-25: rgb(255, 0, 255) !important;
  --blurple-26: rgb(255, 0, 255) !important;
  --blurple-27: rgb(255, 0, 255) !important;
  --blurple-28: rgb(255, 0, 255) !important;
  --blurple-29: rgb(255, 0, 255) !important;
  --blurple-30: rgb(255, 0, 255) !important;
  --blurple-31: rgb(255, 0, 255) !important;
  --blurple-32: rgb(255, 0, 255) !important;
  --blurple-33: rgb(255, 0, 255) !important;
  --blurple-34: rgb(255, 0, 255) !important;
  --blurple-35: rgb(255, 0, 255) !important;
  --blurple-36: rgb(255, 0, 255) !important;
  --blurple-37: rgb(255, 0, 255) !important;
  --blurple-38: rgb(255, 0, 255) !important;
  --blurple-39: rgb(255, 0, 255) !important;
  --blurple-40: rgb(255, 0, 255) !important;
  --blurple-41: rgb(255, 0, 255) !important;
  --blurple-42: rgb(255, 0, 255) !important;
  --blurple-43: rgb(255, 0, 255) !important;
  --blurple-44: rgb(255, 0, 255) !important;
  --blurple-45: rgb(255, 0, 255) !important;
  --blurple-46: rgb(255, 0, 255) !important;
  --blurple-47: rgb(255, 0, 255) !important;
  --blurple-48: rgb(255, 0, 255) !important;
  --blurple-49: rgb(255, 0, 255) !important;
  --blurple-50: rgb(255, 0, 255) !important;
  --blurple-51: rgb(255, 0, 255) !important;
  --blurple-52: rgb(255, 0, 255) !important;
  --blurple-53: rgb(255, 0, 255) !important;
  --blurple-54: rgb(255, 0, 255) !important;
  --blurple-55: rgb(255, 0, 255) !important;
  --blurple-56: rgb(255, 0, 255) !important;
  --blurple-57: rgb(255, 0, 255) !important;
  --blurple-58: rgb(255, 0, 255) !important;
  --blurple-59: rgb(255, 0, 255) !important;
  --blurple-60: rgb(255, 0, 255) !important;
  --blurple-61: rgb(255, 0, 255) !important;
  --blurple-62: rgb(255, 0, 255) !important;
  --blurple-63: rgb(255, 0, 255) !important;
  --blurple-64: rgb(255, 0, 255) !important;
  --blurple-65: rgb(255, 0, 255) !important;
  --blurple-66: rgb(255, 0, 255) !important;
  --blurple-67: rgb(255, 0, 255) !important;
  --blurple-68: rgb(255, 0, 255) !important;
  --blurple-69: rgb(255, 0, 255) !important;
  --blurple-70: rgb(255, 0, 255) !important;
  --blurple-71: rgb(255, 0, 255) !important;
  --blurple-72: rgb(255, 0, 255) !important;
  --blurple-73: rgb(255, 0, 255) !important;
  --blurple-74: rgb(255, 0, 255) !important;
  --blurple-75: rgb(255, 0, 255) !important;
  --blurple-76: rgb(255, 0, 255) !important;
  --blurple-77: rgb(255, 0, 255) !important;
  --blurple-78: rgb(255, 0, 255) !important;
  --blurple-79: rgb(255, 0, 255) !important;
  --blurple-80: rgb(255, 0, 255) !important;
  --blurple-81: rgb(255, 0, 255) !important;
  --blurple-82: rgb(255, 0, 255) !important;
  --blurple-83: rgb(255, 0, 255) !important;
  --blurple-84: rgb(255, 0, 255) !important;
  --blurple-85: rgb(255, 0, 255) !important;
  --blurple-86: rgb(255, 0, 255) !important;
  --blurple-87: rgb(255, 0, 255) !important;
  --blurple-88: rgb(255, 0, 255) !important;
  --blurple-89: rgb(255, 0, 255) !important;
  --blurple-90: rgb(255, 0, 255) !important;
  --blurple-91: rgb(255, 0, 255) !important;
  --blurple-92: rgb(255, 0, 255) !important;
  --blurple-93: rgb(255, 0, 255) !important;
  --blurple-94: rgb(255, 0, 255) !important;
  --blurple-95: rgb(255, 0, 255) !important;
  --blurple-96: rgb(255, 0, 255) !important;
  --blurple-97: rgb(255, 0, 255) !important;
  --blurple-98: rgb(255, 0, 255) !important;
  --blurple-99: rgb(255, 0, 255) !important;
  --blurple-100: rgb(255, 0, 255) !important;
  --opacity-blurple-1: rgba(255, 0, 255, 0.01) !important;
  --opacity-blurple-2: rgba(255, 0, 255, 0.02) !important;
  --opacity-blurple-4: rgba(255, 0, 255, 0.04) !important;
  --opacity-blurple-8: rgba(255, 0, 255, 0.08) !important;
  --opacity-blurple-12: rgba(255, 0, 255, 0.12) !important;
  --opacity-blurple-16: rgba(255, 0, 255, 0.16) !important;
  --opacity-blurple-20: rgba(255, 0, 255, 0.2) !important;
  --opacity-blurple-24: rgba(255, 0, 255, 0.24) !important;
  --opacity-blurple-28: rgba(255, 0, 255, 0.28) !important;
  --opacity-blurple-32: rgba(255, 0, 255, 0.32) !important;
  --opacity-blurple-36: rgba(255, 0, 255, 0.36) !important;
  --opacity-blurple-40: rgba(255, 0, 255, 0.4) !important;
  --opacity-blurple-44: rgba(255, 0, 255, 0.44) !important;
  --opacity-blurple-48: rgba(255, 0, 255, 0.48) !important;
  --opacity-blurple-52: rgba(255, 0, 255, 0.52) !important;
  --opacity-blurple-56: rgba(255, 0, 255, 0.56) !important;
  --opacity-blurple-60: rgba(255, 0, 255, 0.60) !important;
  --opacity-blurple-64: rgba(255, 0, 255, 0.64) !important;
  --opacity-blurple-68: rgba(255, 0, 255, 0.68) !important;
  --opacity-blurple-72: rgba(255, 0, 255, 0.72) !important;
  --opacity-blurple-76: rgba(255, 0, 255, 0.76) !important;
  --opacity-blurple-80: rgba(255, 0, 255, 0.80) !important;
  --opacity-blurple-84: rgba(255, 0, 255, 0.84) !important;
  --opacity-blurple-88: rgba(255, 0, 255, 0.88) !important;
  --opacity-blurple-92: rgba(255, 0, 255, 0.92) !important;
  --opacity-blurple-96: rgba(255, 0, 255, 0.96) !important;
  --mention: rgba(255, 0, 255, .08) !important;
  --mention-hover: rgba(255, 0, 255, .05) !important;
  --message-mentioned-background-default: var(--mention) !important;
  --message-mentioned-background-hover: var(--mention-hover) !important;
  --icon-feedback-warning: rgb(255, 0, 255) !important;
  --background-message-highlight: var(--mention) !important;
  --background-message-highlight-hover: var(--mention-hover) !important;
  --background-mentioned: var(--mention) !important;
  --background-mentioned-hover: var(--mention-hover) !important;
  --background-feedback-warning: var(--mention-hover) !important;
  --mention-background: var(--mention) !important;
  --mention-foreground: rgb(255, 0, 255) !important;
  --info-warning-foreground: rgb(255, 0, 255) !important;
  --text-brand: rgb(255, 0, 255) !important;
}

/* Redesign Toggles */
div[class*='checked'] {
  background-color: rgb(255, 0, 255) !important;
}

/* Really discord, no class for checked on new settings menu... */
div[class*='switchIndicator_']:has(svg[style='left: 24px;']) {
  background-color: rgb(255, 0, 255) !important;
}

div[class*='checked']>svg>svg>path {
  fill: rgb(255, 0, 255) !important;
}

div[class*='baseControlItemTrailingElements_']>button>svg>path {
  fill: rgb(255, 0, 255) !important;
}

/* Add server button */
svg[class*='circleIcon_db6521'] {
  color: rgb(255, 0, 255);
}