:is(:root, .theme-light, .theme-dark, .theme-darker, .theme-midnight, .visual-refresh) {

  /* Set RGB Values for custom accent */
  --accent-red: 255;
  --accent-green: 0;
  --accent-blue: 255;

  --brand: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-100: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-130: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-160: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-200: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-230: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-260: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-300: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-330: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-345: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-360: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-400: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-430: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-460: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-500: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-530: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-560: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-600: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-630: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-660: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-700: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-730: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-760: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-800: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-830: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-860: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --brand-900: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --text-link: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-1: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-2: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-3: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-4: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-5: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-6: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-7: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-8: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-9: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-10: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-11: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-12: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-13: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-14: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-15: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-16: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-17: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-18: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-19: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-20: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-21: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-22: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-23: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-24: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-25: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-26: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-27: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-28: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-29: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-30: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-31: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-32: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-33: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-34: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-35: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-36: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-37: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-38: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-39: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-40: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-41: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-42: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-43: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-44: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-45: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-46: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-47: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-48: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-49: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-50: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-51: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-52: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-53: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-54: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-55: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-56: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-57: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-58: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-59: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-60: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-61: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-62: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-63: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-64: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-65: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-66: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-67: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-68: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-69: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-70: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-71: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-72: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-73: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-74: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-75: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-76: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-77: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-78: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-79: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-80: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-81: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-82: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-83: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-84: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-85: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-86: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-87: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-88: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-89: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-90: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-91: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-92: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-93: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-94: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-95: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-96: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-97: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-98: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-99: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --blurple-100: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --opacity-blurple-1: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.01) !important;
  --opacity-blurple-2: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.02) !important;
  --opacity-blurple-4: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.04) !important;
  --opacity-blurple-8: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.08) !important;
  --opacity-blurple-12: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.12) !important;
  --opacity-blurple-16: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.16) !important;
  --opacity-blurple-20: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.2) !important;
  --opacity-blurple-24: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.24) !important;
  --opacity-blurple-28: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.28) !important;
  --opacity-blurple-32: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.32) !important;
  --opacity-blurple-36: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.36) !important;
  --opacity-blurple-40: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.4) !important;
  --opacity-blurple-44: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.44) !important;
  --opacity-blurple-48: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.48) !important;
  --opacity-blurple-52: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.52) !important;
  --opacity-blurple-56: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.56) !important;
  --opacity-blurple-60: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.60) !important;
  --opacity-blurple-64: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.64) !important;
  --opacity-blurple-68: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.68) !important;
  --opacity-blurple-72: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.72) !important;
  --opacity-blurple-76: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.76) !important;
  --opacity-blurple-80: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.80) !important;
  --opacity-blurple-84: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.84) !important;
  --opacity-blurple-88: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.88) !important;
  --opacity-blurple-92: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.92) !important;
  --opacity-blurple-96: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), 0.96) !important;
  --mention: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), .08) !important;
  --mention-hover: rgb(var(--accent-red), var(--accent-green), var(--accent-blue), .05) !important;
  --message-mentioned-background-default: var(--mention) !important;
  --message-mentioned-background-hover: var(--mention-hover) !important;
  --icon-feedback-warning: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --background-message-highlight: var(--mention) !important;
  --background-message-highlight-hover: var(--mention-hover) !important;
  --background-mentioned: var(--mention) !important;
  --background-mentioned-hover: var(--mention-hover) !important;
  --background-feedback-warning: var(--mention-hover) !important;
  --mention-background: var(--mention) !important;
  --mention-foreground: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --info-warning-foreground: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
  --text-brand: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
}

/* Redesign Toggles */
div[class*='checked'] {
  background-color: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
}

/* Really discord, no class for checked on new settings menu... */
div[class*='switchIndicator_']:has(svg[style='left: 24px;']) {
  background-color: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
}

div[class*='checked']>svg>svg>path {
  fill: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
}

div[class*='baseControlItemTrailingElements_']>button>svg>path {
  fill: rgb(var(--accent-red), var(--accent-green), var(--accent-blue)) !important;
}

/* Add server button */
svg[class*='circleIcon_db6521'] {
  color: rgb(var(--accent-red), var(--accent-green), var(--accent-blue));
}