/**
 * @name         Hide Useless/Paid Elements
 * @description  Hides a bunch of useless/Nitro related elements
 * @author       Katzteam
 * @version      2.0
 */

/* Hide titlebar elements */
div[class*='bar_'] > div[class*='trailing'] {
  display: none;
}

/* Hide threads & weird useless dot from top bar */
div[class*='toolbar'] > div[aria-label='Threads'], div[class*='toolbar'] > svg[class*='dot_'] {
  display: none;
}

/* Hide notice bars (claim free gifts with nitro, etc.) */
div[class*='container_'] > div[class*='base_'] > div[class*='notice_'] {
    display:none !important;
}

/* Hide Events */
li:has(div[id*='upcoming-events']), ul[aria-label='Channels'] > div[style='height: 12px;'] {
  display: none;
}

/* Hide Server Boosts in channel list */
li:has(div[id*='skill-trees']), ul[aria-label='Channels'] > div[style='height: 12px;'] {
  display: none;
}

/* Hide gift button */
div[aria-label='Send a gift'], button[aria-label='Send a gift'] {
  display: none !important;
}

/* Hide Nitro, Boost, Merch, Subscription settings */
div[class*='premiumTab'], div[aria-label='Subscriptions'], div[aria-label='Merch'], div[aria-label='Nitro'] + div[class*='item_'] {
  display: none;
}

/* Hide shop, Nitro buttons in DMs */
li:has(a[href='/shop']), li:has(a[href='/store']) {
  display: none;
}

/* Hide Active Now sidebar */
div[class*='nowPlayingColumn'] {
  display: none;
}

/* Hide Edit image button */
div[class*='hoverButtonGroup']:has(div[aria-label='Edit Image with Apps']) {
  display: none;
}

/* Hide Activity Sidebar */
div[class*='membersGroup']:has(span[class*='headerContainer']), div[class*='openOnHover'] {
  display: none;
}

/* Hide hover buttons from channels */
div[class*='children'] > span > div > svg[class*='actionIcon'] {
  display: none;
}

/* Hide games/promoted apps in Applications launcher */
section[aria-label='Application Launcher'] > div > div > div > div > div > div > div > div > div:nth-child(n+3)  {
  display: none;
}

/* Hide discovery/download apps buttons on server sidebar */
div[class*='listItem']:has(div[class*='discoveryIcon']), div[class*='listItem']:has(div[aria-label*='Download Apps']) {
  display: none !important;
}

/* Hide CPU resource intensive pulsating gradiant on voice chat */
div[class*='pulseGradient'] {
  display: none !important;
}

/* Hide edit channel status when joined to a voice channel */
a[data-list-item-id*='channels_'] > div[class*='linkBottom_'] {
    display: none !important;
}

/* Hide call timer */
div[class*='channelInfo_'] > div[class*='tabularNumbers_'] {
  display: none !important;
}

/* Hide profile effects */
[class*="profileEffects"] {
  display:none;
}