/* Hide titlebar elements */
div[class*='bar_']>div[class*='trailing'] {
  display: none;
}

/* Hide threads & weird useless dot from top bar */
div[class*='toolbar']>div[aria-label='Threads'],
div[class*='toolbar']>svg[class*='dot_'] {
  display: none;
}

/* Hide notice bars (claim free gifts with nitro, etc.) */
div[class*='container_']>div[class*='base_']>div[class*='notice_'] {
  display: none !important;
}

/* Hide Events */
li:has(div[id*='upcoming-events']),
ul[aria-label='Channels']>div[style='height: 12px;'] {
  display: none;
}

/* Boost Progress, Channels & Roles, Server Guide */
ul[aria-label='Channels']>:is(div, li):not(li:has(div>div>a[href*='/channels']) ~ :is(div, li), li:has(div>div>a[href*='/channels']), div[aria-hidden='true'], li:has(div>div>h3)) {
  display: none;
}

/* Hide Server Boosts in channel list */
li:has(div[id*='skill-trees']),
ul[aria-label='Channels']>div[style='height: 12px;'] {
  display: none;
}

/* Hide gift button */
div[aria-label='Send a gift'],
button[aria-label='Send a gift'] {
  display: none !important;
}

/* Hide Nitro, Boost, Merch, Subscription settings */
div[data-settings-sidebar-item='subscriptions_panel'],
div[data-settings-sidebar-item='premium_guild_subscriptions_panel'],
div[data-settings-sidebar-item='nitro_panel'],
div[data-settings-sidebar-item='billing_panel'] {
  display: none;
}

/* Hide Connections, Authorized Apps, Family Center settings */
div[data-settings-sidebar-item='family_center_panel'],
div[data-settings-sidebar-item='authorized_apps_panel'],
div[data-settings-sidebar-item='connections_panel'] {
  display: none;
}

/* Hide shop, Nitro, Quests buttons in DMs */
li:has(a[href='/shop']),
li:has(a[href='/store']),
li:has(a[href='/quest-home']) {
  display: none;
}

/* Hide Active Now sidebar */
div[class*='nowPlayingColumn'] {
  display: none;
}

/* Hide Edit image button */
div[class*='hoverButtonGroup']:has(div[aria-label='Edit Image with Apps']) {
  display: none;
}

/* Hide Activity Sidebar */
div[class*='membersGroup']:has(span[class*='headerContainer']),
div[class*='openOnHover'] {
  display: none;
}

/* Hide hover buttons from channels */
div[class*='children']>span>div>svg[class*='actionIcon'] {
  display: none;
}

/* Hide games/promoted apps in Applications launcher */
section[aria-label='Application Launcher']>div>div>div>div>div>div>div>div>div:nth-child(n+3) {
  display: none;
}

/* Hide discovery/download apps buttons on server sidebar */
div[class*='listItem']:has(div[class*='discoveryIcon']),
div[class*='listItem']:has(div[aria-label*='Download Apps']) {
  display: none !important;
}

/* Hide CPU resource intensive pulsating gradiant on voice chat */
div[class*='pulseGradient'] {
  display: none !important;
}

/* Hide edit channel status when joined to a voice channel */
a[data-list-item-id*='channels_']>div[class*='linkBottom_'] {
  display: none !important;
}

/* Hide call timer */
div[class*='channelInfo_']>div[class*='tabularNumbers_'] {
  display: none !important;
}

/* Hide profile effects, username effects, avatar decorations, sidebar banners */
[class*="profileEffects"],
div[class*='member_']>div[class*='childContainer_']>div[class*='container_'],
[class*='avatarDecoration'],
span[class*='glowContainer_'] {
  display: none;
}

[class*='zillaSlab_'],
[class*='cherryBomb_'],
[class*='chicle_'],
[class*='museoModerno_'],
[class*='neoCastel_'],
[class*='pixelify_'],
[class*='sinistre_'],
[class*='gradient_'] {
  font-family: var(--font-display) !important;
  letter-spacing: inherit !important;
}

[class*='neon_'],
[class*='toon_'],
[class*='pop_'] {
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-stroke-color: var(--white-500) !important;
  --custom-pop-stroke-width: 0px !important;
  --custom-pop-bottom-translate_3d: 0em !important;
  --custom-toon-stroke-color: var(--white-500) !important;
  --custom-toon-stroke-width: 0px !important;
  --custom-toon-margin: 0px !important;

}

[class*='effectText_'],
[class*='showEffect_'] {
  --custom-display-name-styles-main-color: var(--white-500) !important;
  --custom-display-name-styles-light-1-color: var(--white-500) !important;
  --custom-display-name-styles-light-2-color: var(--white-500) !important;
  --custom-display-name-styles-dark-1-color: var(--white-500) !important;
  --custom-display-name-styles-dark-2-color: var(--white-500) !important;
  --custom-display-name-styles-wrap: nowrap !important;
  --custom-display-name-styles-font-opacity: 1 !important;
  --custom-display-name-styles-gradient-start-color: var(--white-500) !important;
  --custom-display-name-styles-gradient-end-color: var(--white-500) !important;
}

[class*='animated_'],
[class*='animated_']>*,
[class*='animated_']> ::before {
  animation: none !important;
  animation-iteration-count: 0;
}

/* Voice connections action buttons */
div[class*='actionButtons_'] {
  display: none;
}

/* Voice invite people in user list */
div[class*='animation_']:has(div[aria-label*='Voice Invite Suggestions']) {
  display: none;
}

/* Voice channel highlight */
div[class*='voiceChannelHighlightContainer_'] {
  display: none;
}